USE [master]
GO
/****** Object:  Database [Sport]    Script Date: 21.10.2024 16:30:49 ******/
CREATE DATABASE [Sport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sport', FILENAME = N'Z:\Programs\mssql\server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sport_log', FILENAME = N'Z:\Programs\mssql\server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sport]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 21.10.2024 16:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.10.2024 16:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfAuth]    Script Date: 21.10.2024 16:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfAuth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfAuth] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeOfAuth] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.10.2024 16:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patromic] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[MobileNumber] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](100) NULL,
	[DateOfBirth] [date] NOT NULL,
	[LastAuthDate] [date] NULL,
	[LastAAuthTime] [time](7) NULL,
	[TypeOfAuth] [int] NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Gender]) VALUES (1, N'Женщина')
INSERT [dbo].[Gender] ([Id], [Gender]) VALUES (2, N'Мужчина')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [Role]) VALUES (2, N'Исполнитель')
INSERT [dbo].[Role] ([Id], [Role]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfAuth] ON 

INSERT [dbo].[TypeOfAuth] ([Id], [TypeOfAuth]) VALUES (1, N'Неуспешно')
INSERT [dbo].[TypeOfAuth] ([Id], [TypeOfAuth]) VALUES (2, N'Успешно')
SET IDENTITY_INSERT [dbo].[TypeOfAuth] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [RoleId], [Surname], [Name], [Patromic], [Email], [Login], [Password], [MobileNumber], [Passport], [DateOfBirth], [LastAuthDate], [LastAAuthTime], [TypeOfAuth], [GenderId]) VALUES (1, 1, N'Акимов', N'Ян', N'Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781) 785-58-36', N' 2367  558134', CAST(N'1993-07-03' AS Date), CAST(N'2023-01-08' AS Date), CAST(N'13:07:20' AS Time), 2, 2)
INSERT [dbo].[User] ([Id], [RoleId], [Surname], [Name], [Patromic], [Email], [Login], [Password], [MobileNumber], [Passport], [DateOfBirth], [LastAuthDate], [LastAAuthTime], [TypeOfAuth], [GenderId]) VALUES (2, 2, N'Гончарова', N'Ульяна', N'Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230) 906-88-15', N' 7101  669343', CAST(N'1975-06-22' AS Date), CAST(N'2023-01-09' AS Date), CAST(N'13:07:20' AS Time), 2, 1)
INSERT [dbo].[User] ([Id], [RoleId], [Surname], [Name], [Patromic], [Email], [Login], [Password], [MobileNumber], [Passport], [DateOfBirth], [LastAuthDate], [LastAAuthTime], [TypeOfAuth], [GenderId]) VALUES (3, 1, N'Анохина', N'Елизавета', N'Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555) 444-83-16', N' 3455  719630', CAST(N'1991-08-16' AS Date), CAST(N'2023-01-10' AS Date), CAST(N'13:07:20' AS Time), 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeOfAuth] FOREIGN KEY([TypeOfAuth])
REFERENCES [dbo].[TypeOfAuth] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeOfAuth]
GO
USE [master]
GO
